# Results

Hardware: 
 - Intel(R) Core(TM) i7-8550U CPU @ 1.80GHz
 - Seagate Thin 5400RPM SATA 3Gb/s

![WriteTimes](writetimes.png)

![ReadTimes](readtimes.png)

In [3]:
import plotly
import plotly.plotly as py
import plotly.graph_objs as go
embedding_count = [500, 1000, 2000, 3000, 4000, 5000]

In [6]:
postgres_read_times =[0.20089268684387207,
 0.4085214138031006,
 0.8351507186889648,
 1.530876636505127,
 2.66886305809021,
 3.242460012435913]

postgres_write_times = [13.330701112747192,
 43.82352876663208,
 77.78558206558228,
 106.69974684715271,
 154.54727625846863,
 151.69119119644165]

mongo_write_times = [0.3138880729675293,
 0.5939149856567383,
 1.1943979263305664,
 1.6786630153656006,
 2.2794220447540283,
 2.6830246448516846]

mongo_read_times = [0.38869309425354004,
 0.8653717041015625,
 1.97469162940979,
 3.4002814292907715,
 5.168785810470581,
 7.428738117218018]

level_read_times = [0.0985105037689209,
 0.19457459449768066,
 0.39040303230285645,
 0.5678610801696777,
 0.7731680870056152,
 0.9867994785308838]

level_write_times = [0.13895416259765625,
 0.17101764678955078,
 0.3788294792175293,
 0.5008127689361572,
 0.7033114433288574,
 1.1339409351348877]

mysql_read_times = [0.5181713104248047,
 1.3684329986572266,
 5.713267803192139,
 12.329740524291992,
 19.260291576385498,
 27.02959108352661]

mysql_write_times = [59.611292362213135,
 148.12936902046204,
 231.10561180114746,
 370.53470754623413,
 511.198233127594,
 641.969072341919]

level_db_size_kb = ['1264', '2512', '5012', '7508', '10008', '12512']

In [7]:
mongo_r = go.Scatter(
    y = mongo_read_times,
    x = embedding_count,
    mode = 'lines+markers',
    name = 'MongoDB'
)

level_r = go.Scatter(
    y = level_read_times,
    x = embedding_count,
    mode = 'lines+markers',
    name = 'LevelDB'
)

mysql_r = go.Scatter(
    y = mysql_read_times,
    x = embedding_count,
    mode = 'lines+markers',
    name = 'MySQL'
)

psql_r = go.Scatter(
    y = postgres_read_times,
    x = embedding_count,
    mode = 'lines+markers',
    name = 'Postgres'
)

data = [mongo_r, level_r, mysql_r, psql_r]

In [8]:
plotly.offline.init_notebook_mode(connected=True)

layout = plotly.graph_objs.Layout(title="Read Times",
                yaxis=dict(title='Time in Seconds'),
                xaxis=dict(title='Embedding Count'))

fig = plotly.graph_objs.Figure(data=data, layout=layout)

plotly.offline.iplot(fig, filename='scatter-read')

In [9]:
mongo_w = go.Scatter(
    y = mongo_write_times,
    x = embedding_count,
    mode = 'lines+markers',
    name = 'MongoDB'
)

level_w = go.Scatter(
    y = level_write_times,
    x = embedding_count,
    mode = 'lines+markers',
    name = 'LevelDB'
)

mysql_w = go.Scatter(
    y = mysql_write_times,
    x = embedding_count,
    mode = 'lines+markers',
    name = 'MySQL'
)

psql_w = go.Scatter(
    y = postgres_write_times,
    x = embedding_count,
    mode = 'lines+markers',
    name = 'Postgres'
)

data = [mongo_w, level_w, mysql_w, psql_w]

In [10]:
plotly.offline.init_notebook_mode(connected=True)

layout = plotly.graph_objs.Layout(title="Write Times",
                yaxis=dict(title='Time in Seconds'),
                xaxis=dict(title='Embedding Count'))

fig = plotly.graph_objs.Figure(data=data, layout=layout)

plotly.offline.iplot(fig, filename='scatter-write')